* {
  margin: 0;
  padding: 0; }

nav {
  padding: 0 !important; }

.container-fluid {
  background-color: #2929bd;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.nav-logo {
  max-width: 70px;
  margin: 5px; }

.brand-name {
  text-decoration: none;
  color: white;
  font-size: 40px; }

.brand-name:hover {
  color: white; }

.navbar-link, .other-option-link {
  text-decoration: none;
  margin: 20px;
  color: white;
  margin-left: 70px;
  padding: 7px;
  border-radius: 15px;
  transition-duration: 0.3s; }

.log-in-link {
  text-decoration: none;
  margin: 20px;
  color: black;
  background-color: white;
  margin-left: 70px;
  padding: 7px;
  border-radius: 15px;
  transition-duration: 0.3s; }

.navbar-link:hover, .other-option-link:hover {
  background-color: white;
  color: black; }

.log-in-link:hover {
  background-color: black;
  color: white; }

.btn-outline-success {
  background-color: white;
  border-color: white;
  color: black;
  border-radius: 15px; }

.btn-outline-success:hover {
  background-color: black;
  border-color: black;
  color: white; }

.brand-phrase {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px;
  margin-top: 50px; }
  .brand-phrase h1 {
    font-size: 50px;
    color: #2929bd; }
  .brand-phrase p {
    font-size: 25px; }

.section {
  margin: 25px;
  background-color: #2929bd;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left; }

.section-2 {
  margin: 25px;
  background-color: #2929bd;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: right; }

.section-img {
  margin: 25px;
  border-radius: 15px;
  max-width: 500px; }

.section-txt {
  margin: 25px;
  font-size: 20px;
  color: white; }

.note-section {
  margin: 25px;
  background-color: #2929bd;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; }
  .note-section h2 {
    margin: 25px;
    font-size: 25px;
    color: white; }

.note-txt {
  margin: 25px;
  color: white;
  font-size: 20px; }

.note-date {
  margin-left: 25px;
  color: #e0e0e0;
  align-self: flex-start; }

.authorities-img {
  max-width: 170px;
  margin: 25px; }

.authorities-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .authorities-list li {
    margin: 10px;
    color: white;
    font-size: 20px; }

.title-general {
  font-size: 25px; }

.title-notes {
  font-size: 20px; }

.brand-phrase {
  display: flex;
  flex-direction: column; }

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  background-color: black; }

.footer-brand {
  height: 150px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center; }

.footer-logo {
  max-width: 120px;
  margin: 25px; }

.footer-logo-txt {
  text-decoration: none;
  color: white;
  font-size: 40px; }

.footer-logo-txt:hover {
  color: white; }

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
  border-radius: 15px;
  background-color: white; }

.social-img {
  max-width: 70px;
  border-radius: 15px; }

form {
  margin-left: 50px;
  margin-right: 50px; }

.btn-primary {
  border-radius: 15px !important; }

.other-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25px; }

.other-option-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.other-option-title {
  margin-right: 10px;
  font-size: 25px; }

.other-option-link {
  font-size: 20px;
  color: white;
  background-color: #2929bd;
  margin: 5px; }

@media screen and (max-width: 1310px) {
  .navbar-link, .other-option-link {
    margin: 5px; } }

@media screen and (max-width: 1070px) {
  .navbar-link, .other-option-link {
    margin: 0px; }
  .section-img {
    max-width: 250px; } }

@media screen and (max-width: 740px) {
  .section {
    flex-direction: column; }
  .section-2 {
    flex-direction: column;
    text-align: left; } }

@media screen and (max-width: 740px) {
  .footer-logo {
    max-width: 70px; }
  .footer-logo-txt {
    font-size: 18px; }
  .footer-container {
    flex-direction: column; }
  .section-img {
    margin: 5px; }
  .social-networks {
    flex-direction: column; }
  .other-option-content {
    flex-direction: column; }
  .footer-brand {
    width: 150px; } }
