.brand-phrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: $general-margin;
    margin-top: 50px;

    h1 {
        font-size: 50px;
        color: $main-color;
    }

    p {
        font-size: 25px;
    }
}

.section {
    margin: $general-margin;
    background-color: $main-color;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.section-2 {
    margin: $general-margin;
    background-color: $main-color;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.section-img {
    margin: $general-margin;
    border-radius: 15px;
    max-width: 500px;
}

.section-txt {
    margin: $general-margin;
    font-size: 20px;
    color: white;
}