.brand-phrase {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: $general-margin;
    margin-top: 50px;

    h1 {
        font-size: 50px;
        color: $main-color;
    }

    p {
        font-size: 25px;
    }
}

.section {
    margin: $general-margin;
    background-color: $main-color;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.section-2 {
    margin: $general-margin;
    background-color: $main-color;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.section-img {
    margin: $general-margin;
    border-radius: 15px;
    max-width: 500px;
}

.section-txt {
    margin: $general-margin;
    font-size: 20px;
    color: white;
}

.note-section {
    margin: $general-margin;
    background-color: $main-color;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

    h2 {
        margin: $general-margin;
        font-size: 25px;
        color: white;
    }
}

.note-txt {
    margin: $general-margin;
    color: white;
    font-size: 20px;
}

.note-date {
    margin-left: $general-margin;
    color: rgb(224, 224, 224);
    align-self: flex-start;
}

.authorities-img {
    max-width: 170px;
    margin: $general-margin;
}

.authorities-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    li {
        margin: 10px;
        color: white;
        font-size: 20px;
    }
}

// MAPA
$titles: (
    general: 25px,
    notes: 20px,
);

@each $title, $value in $titles {
    .title-#{$title} {
        font-size: $value;
    }
}

// MIXIN
@mixin flex ($flex, $direction,) {
    display: $flex;
    flex-direction: $direction;
}

.brand-phrase {
    @include flex (flex, column)
}